.popup__form {
	padding: 35px 36px;
	min-width: 430px;
	max-width: 430px;
	background-color: #fff;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	box-sizing: border-box;
}
@media screen and (max-width: 320px) {
	.popup__form {
		padding: 25px 22px;
	}
}
