.profile__name {
	max-width: 400px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-weight: 500;
	font-size: 42px;
	line-height: 1.1;
	color: #ffffff;
	margin: 0 0 10px;
}
@media screen and (max-width: 635px) {
	.profile__name {
		font-size: 34px;
	}
}
@media screen and (max-width: 320px) {
	.profile__name {
		max-width: 220px;
		margin: 0 0 7px;
		font-size: 27px;
		line-height: 1.2;
		text-align: center;
	}
}
