.profile__avatar-wrapper{
  position: relative;
	margin-right: 30px;
  border-radius: 50%;
}

.profile__avatar-wrapper::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  background-image: url('../../../images/icons/edit-avatar-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  transition: all .5s;
  opacity: 0;
  cursor: pointer;
}

.profile__avatar-wrapper:hover::before{
 opacity: 1;
}